
/*dark mode features START*******/
body{
	background-color: black;
}

*{
	color:antiquewhite
}

/*section cover logo et intro*/
.cover{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	background-color: red;
}

.cover_p{
	font-size: 4em;
	margin: 1%;
	padding: 1%;
	background-color: aqua;
	width: 60%;
	text-align: justify;

}

.logo{
	width: 100%;
	filter: drop-shadow(15px 15px 15px rgb(73, 72, 72));
	opacity: 100%;
	position:relative;
	margin: 1%;
	padding: 1%;
	

}

/* Scroll Down
If you want to adjust the positioning of the icon, simply edit the 
.scrolldown-wrapper class and adjust the bottom position 
(e.g. changing bottom: 10%; will move the icon 10% of the viewport height from the bottom).

You can also adjust the speed of the animation by 
adjusting either .scrolldown-p1 or .scrolldown-p2 classes.*/

.scrolldown-wrapper {
	left: 50%;
	position: absolute;
	text-align: center;
	bottom: 0;
	transform: translate(-50%, -50%);
}
  
.scrolldown {
	border: 2px solid #FFFFFF;
	border-radius: 30px;
	height: 46px;
	margin: 0 auto 8px;
	text-align: center;
	width: 30px;
}

.scrolldown-p1,
.scrolldown-p2 {
	animation-duration: 1.5s;
	animation-name: scrolldown;
	animation-iteration-count: infinite;
	fill: #FFFFFF;
}
  
.scrolldown-p2 {
	animation-delay: .75s;
}

@keyframes scrolldown {
	0% {
		opacity: 0;
		transform: translate(0, -8px);
	}
	50% {
		opacity: 1;
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		transform: translate(0, 8px);
	}
}

/*dark mode feature END*******/

img:hover{
	opacity: 100%;
}

.logo:hover {
	opacity: 100%;
}

img{
	border-radius: 3px;
	opacity: 50%;
}

h2{
	text-align:center;
}


/* Mise en place menu DEROULANT*/

nav ul{
	list-style-type: none;
	padding:0;
  	display: flex;

}
   
nav{
	padding: 0px;
	width: 100%;
	margin: 0 auto;
}
  
nav li{
	width: 20%;
	text-align: center;
}
  

nav a{
	display: block;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}
  
nav a:hover{
	background: -webkit-linear-gradient(rgb(125, 247, 252), rgb(14, 102, 235));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  
		
}
.subroll{
	display: none;
	box-shadow: 0px 0px 2px #CCC;
	background-color: white;
	position: relative;
	width: 100%;
	z-index: 1000;
}
  
.roll{
	background: linear-gradient(rgb(255, 255, 255), rgb(190, 190, 190));
	box-shadow: 0px 0px 2px #CCC;
	
}
nav > ul li:hover .subroll{
	display: block;
}
  
.subroll li{
	width: 100%;
	text-align: center;
		
}
  
.subroll a{
	padding: 10px;
	border-bottom: none;
}

.subroll a:hover{
	border-bottom: none;
}
  
nav ul li{ /* ici inserer display flex pour mise horizontale */
	display: flex;
  	position: relative;
	text-align: center;
	width: 25%;
  	flex-direction: column;
}
  
header{
	position: sticky;
	top: 0px;
	z-index: 1000;
	box-shadow: 0px 0px 2px #CCC;
}
/* Mise en place menu DEROULANT */

/*************** GESTION FLEXBOX SECTION PROJECTS *******************/

.intro{
	display:flex;
	flex-direction: column;
	max-width: 100%;
	min-width: 100%;
	max-height: fit-content;
	align-items: center;
	justify-content: space-around;
}

.name{
	text-shadow: 2px 2px 2px #a5a7a6;
	font-size: 50px;
	margin-bottom: 0;
}

.skills{
	font-size: 20px;
}



#projets{
	display: flex;
	background-color: pink;
	flex-direction: column;
	margin: 10px;
	padding: 10px;
}


.projet1{
	display: flex;
	margin: 1%;
	padding: 1%;
	background-color: yellow;
	overflow: hidden;
	word-wrap: break-word;
	max-width: fit-content;
}

h3{
	justify-self: flex-end;
	align-self: center;
}

.projets-liste {
	display:flex;
	flex-direction: column;
	background-color: aqua;
}

#PJ2 .reverse {
	order:2;
}

.projet-desc {
	
	background-color: red;
	margin: 1%;
	padding: 1%;
	

}