
/* images opacity hover and border CHALLENGE 3*/


body{
	background: linear-gradient(rgb(253, 253, 253), rgb(95, 94, 94));
}

img:hover{
	opacity: 100%;
}

.logo:hover {
	opacity: 100%;
}

img{
	border-radius: 3px;
	opacity: 50%;
}

h2{
	text-align:center;
}


/* Mise en place menu DEROULANT*/

nav ul{
	list-style-type: none;
	padding:0;
}
   
nav{
	padding: 0px;
	width: 100%;
	margin: 0 auto;
}
  
nav li{
	float: left;
	width: 20%;
	text-align: center;
}
  
nav ul::after{
	content: "";
	display: table;
	clear: both;
}
  
nav a{
	display: block;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}
  
nav a:hover{
	background: -webkit-linear-gradient(rgb(125, 247, 252), rgb(14, 102, 235));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
		
}
.subroll{
	display: none;
	box-shadow: 0px 0px 2px #CCC;
	background-color: white;
	position: absolute;
	width: 100%;
	z-index: 1000;
}
  
.roll{
	background: linear-gradient(rgb(255, 255, 255), rgb(190, 190, 190));
	box-shadow: 0px 0px 2px #CCC;
	
}
nav > ul li:hover .subroll{
	display: block;
}
  
.subroll li{
	float: none;
	width: 100%;
	text-align: center;
		
}
  
.subroll a{
	padding: 10px;
	border-bottom: none;
}

.subroll a:hover{
	border-bottom: none;
}
  
nav ul li{
	position: relative;
	float: left;
	text-align: center;
	width: 25%;
}
  
header{
	position: sticky;
	top: 0px;
	z-index: 1000;
	box-shadow: 0px 0px 2px #CCC;
}
/* Mise en place menu DEROULANT */

/*************** GESTION FLEXBOX *******************/

.intro{
	display:flex;
	flex-direction: column;
	max-width: 100%;
	min-width: 100%;
	max-height: fit-content;
	align-items: center;
	justify-content: space-around;

}

.name{
	text-shadow: 2px 2px 2px #a5a7a6;
	font-size: 50px;
	margin-bottom: 0;

}

.skills{
	font-size: 20px;
	
}

.cover{
	max-width: 20%;
	margin-right: auto;
	margin-left: auto;
}

.logo{
	width: 90%;
	filter: drop-shadow(15px 15px 15px rgb(73, 72, 72));
	opacity: 100%;
}

#projets{
	display: flex;
	background-color: pink;
	flex-direction: column;
	margin: 10px;
	padding: 10px;
}


.projet1{
	display: flex;
	margin: 1%;
	padding: 1%;
	background-color: yellow;
	overflow: hidden;
	word-wrap: break-word;
	max-width: fit-content;
}

h3{
	justify-self: flex-end;
	align-self: center;
}

.projets-liste {
	display:flex;
	flex-direction: column;
	background-color: aqua;
}

#PJ2 .reverse {
	order:2;
}

.projet-desc {
	
	background-color: red;
	

}